# ==========================================
# HFPM-DDA 纯粹关联规则挖掘依赖清单
# 基于 conda 3.12
# ==========================================

# 核心数据处理框架
pandas>=2.2.0

# 关联规则挖掘核心算法库
mlxtend>=0.23.1

# C语言底层的高效 XML 解析器
lxml>=5.2.0

# 终端进度条
tqdm>=4.66.0